#about{
	height: 200vh;
	width: 100vw;
  /* font-size: 0.1rem; */
}

.desc {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 25px;
}

p{
	width: 65%;
	/* line-height: 1.7rem; */
  margin: 0;
  margin-top: 1.5rem;
	/* font-size: 1.4rem; */
	font-size: 1.15rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
}

.title:after p {
  background-color: yellow;
}

.hight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 58%, #FFD0AE 50%);
}

#experience {

}

#curr_exp {

}

.descTitle {
  font-weight: bold;
  margin-bottom: 0;
}

.descText {
  margin-top: 0;
  font-style: italic;
	padding-top:5px;
	font-size: 1rem;
  margin-left: 5%;
}

.lightClass {
	background: rgba(131,229,255,0.5);
  transition: all linear .2s;
  color: black;
}

.lightClass:hover{
	background: rgba(131,229,255,1);
	transition: all linear .2s;
}
