@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,700&display=swap');

body {
  font-family: 'Courier Prime', monospace;
  padding: 30px;
  display: inline-block;
  color: white;
  background-color: #101114;
}

a {
  color: lightblue;
  line-height: 3rem;
  display: block;
}

h1{
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  display: inline;
}

h2{
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  display:inline-block;
}

.note {
  font-size: 5px;
}

.story{
  padding-left: 100px;
  width: 60%;
}
