@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');


html {
	scroll-behavior: smooth;
}

body{
	/* Use cover to cover the entire screen*/
	margin: 0;
	/* font-family: 'Varela Round', sans-serif; */
	/* font-family: "Leitura News", Palatino, Georgia, "Times New Roman", serif; */
	font-family: 'Source Serif Pro', serif;
	/* font-family: serif; */
}

@media only screen and (max-width: 900px) {
	body {
	background-color:black;
	}
}

button {
	font-family: 'Source Serif Pro', serif;
}

#home {
	margin: 0;
	background-position: center;
	background-size: cover;
	background-color: #ffecda;
	/* background-image: url("https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"); */
	height: 100vh;
}

h1 {
	font-size: 2.6vw;
	display:inline-flex;
	margin-left:3vw;
}

.min-button {
	height: 27px;
	width: 70px;
	display: inline-block;
	background-color: white;
	border: 2px solid black;
	position: relative;
	border-radius: 2px;
}

.min-button span {
	color: black;
	text-align:center;
	padding-top: 4px;
	display: block;
}

.min-button:hover {
	opacity: 0.5;
	transition-duration: 0.5s;
}

.min-button:hover span{
	color:white;
	text-shadow: 2px 0px 2px black;
}

.row{
	display: flex;
	padding: 0 4px;
	margin-bottom: 20px;
}

.column{
	flex: 23%;
	max-width: 25%;
	padding: 0 0.5%;
}

.column img{
	width: 100%;
	margin-top: 2.5%;
}

a {
	color: white;
	text-decoration: none;
}

#directory a{
	font-size: 30px;
	top: 4.5%;
	position: absolute;
	left: 80%;
	text-shadow: 3px 3px 2px #000000;
}

#footer {
	height: 7vh;
	background-color: #101114;;
	color: white;
}

#profile {
  overflow: hidden;
}

#footer a {
	color: white;
}


#diamond {
    position: absolute;
    top: 15vh;
    left: 75vw;
    transform: rotate(-45deg);
    height: 200px;
    width: 200px;
    background-color: #8b4f80;
}

#name {
	margin-left:3vw;
	margin-bottom: 0;
	position: relative;
}

#profile img {
 border: 2px solid black;
 margin: auto;
 height: 300px;
 border-radius: 2px;
 overflow: hidden;
 position: absolute;
 left: 70vw;
 top: 20vh;
}

#profile:hover {
 content: url("img/shestem.jpg");
 height: 300px;
 overflow: hidden;
 position: absolute;
 left: 70vw;
 top: 20vh;
 border: 2px solid black;
 border-radius: 2px;
}

#profile-box{
	left: 71vw;
	top: 21.7vh;
	position:absolute;
	height: 300px;
	border-radius: 2px;
  width: 230px;
	background-color: #c8e7ed;
}

#profile2 img {
 border: 2px solid black;
 margin: auto;
 height: 250px;
 border-radius: 2px;
 overflow: hidden;
 position: absolute;
 left: 80vw;
 top: 50vh;
}

#profile2:hover {
 content: url("img/sunset.jpg");
 height: 250px;
 overflow: hidden;
 position: absolute;
 left: 80vw;
 top: 50vh;
 border: 2px solid black;
 border-radius: 2px;
}

#profile2-box{
	left: 79vw;
	top: 61vh;
	position:absolute;
	height: 180px;
	border-radius: 2px;
  width: 180px;
	background-color: #bfcfff;
}

.highlight {
	opacity: 0.5;
	content: '';
  background-color: #f5c0a2;
  height: 1.5vh;
  position: relative;
  display: block;
  top: 60px;
  transform: translateY(-50%);
  left: 10%;
  width: 84%;
}

.typewrite {
	text-align: center;
	color: black;
}

.socials{
	/* width: 13vw; */
	height: fit-content;
	position: fixed;
	border: 2px solid black;
	border-radius: 2px;
	left: 5vw;
	top: 86vh;
}

/* @media screen and (max-width:360px){
    #profile-desc span {
        font-size:13px !important;
    }
} */

.socials a {
	color: black;
}


#icon-spacing{
	margin:10px;
}

#profile-desc {
	font-size: 1rem;
	padding-top: 10%;
	margin: 10%;
	/* line-height: 1.2em; */
	max-width: fit-content;
}

#profile-desc span {
	position: relative;
	margin-bottom:20px;
	display: block;
	max-width: 100%;
}

.light {
	background: rgba(245,215,110,0.5);
  transition: all linear .2s;
}

.light:hover{
	background: rgba(245,215,110,1);
	transition: all linear .2s;
}

#profile-desc a{
  color: black;
}

.avg-button {
	width: 80px;
	height: 44px;
	font-size: 1rem;
	border: 2px solid black;
	border-radius: 2px;
	position: absolute;
}

#advice {
	background-color: #d45079;
  left: 10vw;
  top: 42vh;
  color: white;
  text-align: center;
}

#advice:hover {
	cursor: pointer;
	background-color: #f4dada;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#advice-reveal {
	display: none;
	background-color: #ffb6b9;
	border: 2px solid black;
	border-radius: 2px;
	width: 300px;
	height: 300px;
	left: 4%;
	top: 52%;
	font-size: 0.9em;
	position: absolute;
	-webkit-animation: fadeIn 1s linear;
  animation: fadeIn 1s linear;
}

#advice-reveal span {
	padding-left: 8%;
	padding-right: 5%;
	position: absolute;
}

#funfact {
	background-color: #60a9a6;
	left: 55.4vw;
	color: white;
	top: 8.9vh;
	font-size: 0.9rem;
}

#funfact:hover {
	background-color: #d3f6f3;
	cursor: url("img/wand.png"), auto;
}

#funfact-reveal {
	left: 43vw;
	top: 13vh;
	position: absolute;
	border: 2px solid black;
	border-radius: 2px;
	display: none;
	width: 200px;
	background-color: #badfdb;
	height: 40px;
	-webkit-animation: fadeIn 1s linear;
  animation: fadeIn 1s linear;
}

#funfact-reveal span {
	position: absolute;
	text-align: center;
	font-size: 1.1rem;
	padding-top: 4%;
	margin-left: 5%;
}

a{
color: black;
}
